# See the code-owners Github docs:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# All files in the repository
* @mozmeao/basket-codeowners
