*-all.css
*-all.js
*-min.css
*-min.js
*.db
*.py[co]
*.sw[po]
.#*
.DS_Store
.coverage
.env
.make.*
.noseids
.vscode/
/media/img/uploads
/static
Dockerfile.jenkins
build.py
celerybeat-schedule
docs/_build
docs/_gh-pages
pip-log.txt
python_coverage/
settings/local.py
soap_cache_file.json
test-results
