variables:
  DOCKER_REPOSITORY: "mozmeao/basket"
  DOCKER_IMAGE_TAG: "${DOCKER_REPOSITORY}:${CI_COMMIT_SHORT_SHA}"
  # Cannot use $DOCKER_IMAGE_TAG because it contains other variables itself.
  DOCKER_RUN_CMD: "docker run --env-file .docker-env ${DOCKER_REPOSITORY}:${CI_COMMIT_SHORT_SHA}"

stages:
  - build
  - deploy-admin
  - deploy

build-images:
  stage: build
  only:
    - prod
    - admin
  tags:
    - mozmeao
  script:
    - bin/slack-notify --stage build --status starting
    - make clean
    - make build-ci
    - make push-ci
    - make test-ci
    - bin/slack-notify --stage build --status success

.deploy:
  stage: deploy
  tags:
    - mozmeao
    - aws
  script:
    - bin/update-config.sh
  retry: 2

admin:
  extends: .deploy
  stage: deploy-admin
  only:
    - admin
    - prod
  variables:
    NAMESPACE: basket-admin
    CLUSTERS: mozmeao-or

prod:
  extends: .deploy
  only:
    - prod
  variables:
    NAMESPACE: basket-prod
    CLUSTERS: mozmeao-fr mozmeao-or
