version: "3.4"
services:
  db:
    image: mariadb
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=basket

  redis:
    image: redis

  web:
    build:
      context: .
      args:
        GIT_SHA: ${GIT_COMMIT:-latest}
    image: mozmeao/basket:${GIT_COMMIT:-latest}
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=mysql://root@db/basket
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1,
      - REDIS_URL=redis://redis:6379
      - CELERY_TASK_ALWAYS_EAGER=False
      - CELERY_LOG_LEVEL=debug
      - DJANGO_LOG_LEVEL=DEBUG
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    command:
      ./bin/run-dev.sh

  worker:
    image: mozmeao/basket:${GIT_COMMIT:-latest}
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=mysql://root@db/basket
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1,
      - REDIS_URL=redis://redis:6379
      - CELERY_TASK_ALWAYS_EAGER=False
      - CELERY_LOG_LEVEL=debug
      - DJANGO_LOG_LEVEL=DEBUG
    env_file: .env
    depends_on:
      - db
      - redis
    command:
      ./bin/run-worker.sh

  donate-worker:
    image: mozmeao/basket:${GIT_COMMIT:-latest}
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=mysql://root@db/basket
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1,
      - REDIS_URL=redis://redis:6379
      - CELERY_TASK_ALWAYS_EAGER=False
      - CELERY_LOG_LEVEL=debug
      - DJANGO_LOG_LEVEL=DEBUG
    env_file: .env
    depends_on:
      - db
      - redis
    command:
      ./bin/run-donate-worker.sh

  test-local:
    image: mozmeao/basket:${GIT_COMMIT:-latest}
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=mysql://root@db/basket
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1,
      - REDIS_URL=redis://redis:6379
      - CELERY_TASK_ALWAYS_EAGER=False
      - CELERY_LOG_LEVEL=debug
      - DJANGO_LOG_LEVEL=DEBUG
    env_file: docker/envfiles/test.env
    depends_on:
      - db
      - redis
    command:
      ./bin/run-tests.sh

  test-image:
    image: mozmeao/basket:${GIT_COMMIT:-latest}
    environment:
      - DATABASE_URL=mysql://root@db/basket
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1,
      - REDIS_URL=redis://redis:6379
      - CELERY_TASK_ALWAYS_EAGER=False
      - CELERY_LOG_LEVEL=debug
      - DJANGO_LOG_LEVEL=DEBUG
    env_file: docker/envfiles/test.env
    depends_on:
      - db
      - redis
    command:
      ./bin/run-tests.sh

  builder:
    build:
      context: .
      target: builder
    image: mozmeao/basket:builder-${GIT_COMMIT:-latest}
