services:
  db:
    image: mariadb
    environment:
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=1
      - MARIADB_DATABASE=basket
    healthcheck:
      test: ["CMD", "mariadb", "--user=root", "--execute=SELECT version();"]
      interval: 5s
      timeout: 2s
      retries: 5

  redis:
    image: redis
    platform: linux/amd64
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 1s
      retries: 5

  web:
    build:
      context: .
      args:
        GIT_SHA: ${GIT_COMMIT:-latest}
    image: mozmeao/basket:${GIT_COMMIT_SHORT:-latest}
    platform: linux/amd64
    init: true
    volumes:
      - .:/app
    env_file:
      - .env/${BASKET_ENV:-.env}
      - docker/envfiles/local.env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "bash", "-c", "cat < /dev/null > /dev/tcp/web/8000"]
      interval: 3s
      timeout: 1s
      retries: 10
    command:
      ./bin/run-dev.sh

  worker:
    image: mozmeao/basket:${GIT_COMMIT_SHORT:-latest}
    platform: linux/amd64
    init: true
    restart: unless-stopped
    volumes:
      - .:/app
    env_file:
      - .env/${BASKET_ENV:-.env}
      - docker/envfiles/local.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "bash", "-c", "rq info -R default | grep -q '1 queues'"]
      interval: 3s
      timeout: 1s
      retries: 5
    command:
      ./bin/run-worker.sh

  test:
    image: mozmeao/basket:${GIT_COMMIT_SHORT:-latest}
    platform: linux/amd64
    volumes:
      - .:/app
    env_file:
      - docker/envfiles/local.env
      - docker/envfiles/test.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command:
      ./bin/run-tests.sh

  test-image:
    image: mozmeao/basket:${GIT_COMMIT_SHORT:-latest}
    platform: linux/amd64
    env_file:
      - docker/envfiles/local.env
      - docker/envfiles/test.env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command:
      ./bin/run-tests.sh

  builder:
    build:
      context: .
      target: builder
    image: mozmeao/basket:builder-${GIT_COMMIT_SHORT:-latest}
    platform: linux/amd64

  compile-requirements:
    image: mozmeao/basket:builder-${GIT_COMMIT_SHORT:-latest}
    platform: linux/amd64
    command:
      ./bin/compile-requirements.sh
    volumes:
      - .:/app
