{% extends "admin/change_list.html" %}
{% load adminmedia admin_list %}

{% block filters %}
  <div id="changelist-filter">
    <h2>Filter</h2>
    <h3>Filter by date range</h3>
    <form method="get">
      <ul>
        <li>
          <small>e.g. 2010-06-25</small>
        </li>
        <li>
          <label for="date-range-start">Start</label>
          <input type="text" name="created__gte" id="date-range-start" size="15">
        </li>
        <li>
          <label for="date-range-start">End</label>
          <input type="text" name="created__lte" id="date-range-end" size="15">
        </li>
        <li>
          <input type="submit" value="Filter">
        </li>
      </ul>
    </form>
    {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
  </div>
{% endblock %}
