<html lang="{{ lang }}">
<body>

  <p>{{ _("Greetings!") }}</p>

  {% block extra_heading %}{% endblock %}

  <p>{{ _("Follow these five steps to set up Firefox Home and get access to your desktop Firefox history, bookmarks and even your open tabs on your iPhone:") }}</p>

  <ol>
  <li>
  <p style="font-weight:bold">{{ _("Install the free <a href='{0}'>Firefox Sync add-on</a> on your desktop.")|f("http://www.mozilla.com/firefox/sync/")|safe }}</p>
  <p style="font-size:90%;color:#807970">{{ _("Firefox Home uses the sync capabilities from the Firefox Sync add-on to access your Firefox browser information and securely send it to your iPhone.") }}</p>
  </li>

  <li>
    <p style="font-weight:bold">{{ _("Once Firefox restarts, follow the prompts to create an account with both a password and a Secret Phrase.") }}</p>
    <p style="font-size:90%;color:#807970">{{ _("Firefox Home uses your Secret Phrase to locally encrypt and protect your information.") }}</p>
  </li>

  <li>
    <p style="font-weight:bold">{{ _("Firefox Sync will now begin securely synchronizing your data with our service. This initial synchronization may take up to 20 minutes.") }}</p>
    <p style="font-size:90%;color:#807970">{{ _("Firefox Sync will only work if you are not in Private Browsing mode. Once your initial synchronization is complete, you'll see a Last Update time in the Tools > Sync menu.") }}</p>
  </li>

  <li>
    <p style="font-weight:bold">{{ _("To complete the setup, on your iPhone enter your account, password and Secret Phrase in the field provided and tap 'Done' on the keypad.") }}</p>
    <p style="font-size:90%;color:#807970">{{ _("If you're having trouble logging in, <a href='{0}'>click here for help</a>.")|f("http://support.mozilla.com/kb/Cannot+log+in+to+Firefox+Home+App")|safe }}</p>
  </li>


  <li>
  <p style="font-weight:bold">{{ _("Once complete you will be able to access your desktop bookmarks, history, and open tabs on your iPhone.") }}</p>
  <p style="font-size:90%;color:#807970">{{ _("If your data is not showing up, <a href='{0}'>click here for help</a>.")|f("http://support.mozilla.com/kb/Firefox+Home+does+not+work%20#My_data_doesn_t_show_up_at_all")|safe }}</p>
  </li>
  </ol>

  <p>{{ _("If you're having any trouble at all, please <a href='{0}'>visit Firefox Home Support</a>.")|f("http://support.mozilla.com/kb/Firefox+Home+does+not+work")|safe }}</p>

  <p>{{ _("If you have ideas on how to make Firefox Home even better <a href='{0}'>let us know</a>!")|f("http://firefoxformobile.uservoice.com/forums/67057-firefox-home-ideas")|safe }}</p>

  
  {% block reminder_note %}
  <p>{{ _("If you do not set up <a href='{0}'>Firefox Home</a> within one week of receiving this email, one reminder email will be sent to you.")|f("http://www.mozilla.com/mobile/home/")|safe }}</p>
  {% endblock %}

  <p>{{ _("See our <a href='{0}'>Privacy Policy</a>. Visit us for more information about <a href='{1}'>Firefox Home</a>.")|f("http://www.mozilla.com/privacy-policy.html", "http://www.mozilla.com/mobile/home/")|safe }}</p>

</body>
</html>
